<div class="loading">

    <div>
<svg xmlns="http://www.w3.org/2000/svg" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-blank" style="background: none;">
    <circle cx="50" cy="50" fill="none" ng-attr-r="{{config.r3}}" ng-attr-stroke="{{config.c3}}" ng-attr-stroke-width="{{config.width}}" r="46" stroke="#8cd0e5" stroke-width="5">
      <animate attributeName="stroke-dasharray" calcMode="linear" values="0 0 0 144.51326206513048 0 144.51326206513048;0 0 144.51326206513048 0 0 144.51326206513048;0 0 144.51326206513048 0 0 144.51326206513048;0 144.51326206513048 0 144.51326206513048 0 144.51326206513048;0 144.51326206513048 0 144.51326206513048 0 144.51326206513048" keyTimes="0;0.2;0.4;0.6;1" dur="2.8" begin="-2.8s" repeatCount="indefinite"/>
    </circle>
    <circle cx="50" cy="50" fill="none" ng-attr-r="{{config.r2}}" ng-attr-stroke="{{config.c2}}" ng-attr-stroke-width="{{config.width}}" r="40" stroke="#376888" stroke-width="5">
      <animate attributeName="stroke-dasharray" calcMode="linear" values="0 0 0 125.66370614359172 0 125.66370614359172;0 0 125.66370614359172 0 0 125.66370614359172;0 0 125.66370614359172 0 0 125.66370614359172;0 125.66370614359172 0 125.66370614359172 0 125.66370614359172;0 125.66370614359172 0 125.66370614359172 0 125.66370614359172" keyTimes="0;0.2;0.4;0.6;1" dur="2.8" begin="-2.5759999999999996s" repeatCount="indefinite"/>
    </circle>
    <circle cx="50" cy="50" fill="none" ng-attr-r="{{config.r1}}" ng-attr-stroke="{{config.c1}}" ng-attr-stroke-width="{{config.width}}" r="34" stroke="#826b88" stroke-width="5">
      <animate attributeName="stroke-dasharray" calcMode="linear" values="0 0 0 106.81415022205297 0 106.81415022205297;0 0 106.81415022205297 0 0 106.81415022205297;0 0 106.81415022205297 0 0 106.81415022205297;0 106.81415022205297 0 106.81415022205297 0 106.81415022205297;0 106.81415022205297 0 106.81415022205297 0 106.81415022205297" keyTimes="0;0.2;0.4;0.6;1" dur="2.8" begin="-2.352s" repeatCount="indefinite"/>
    </circle>
    <g transform="rotate(180 50 50)">
      <circle cx="50" cy="50" fill="none" ng-attr-r="{{config.r3}}" ng-attr-stroke="{{config.c3}}" ng-attr-stroke-width="{{config.width}}" r="46" stroke="#8cd0e5" stroke-width="5">
        <animate attributeName="stroke-dasharray" calcMode="linear" values="0 0 0 144.51326206513048 0 144.51326206513048;0 0 144.51326206513048 0 0 144.51326206513048;0 0 144.51326206513048 0 0 144.51326206513048;0 144.51326206513048 0 144.51326206513048 0 144.51326206513048;0 144.51326206513048 0 144.51326206513048 0 144.51326206513048" keyTimes="0;0.2;0.4;0.6;1" dur="2.8" begin="-1.2319999999999998s" repeatCount="indefinite"/>
      </circle>
      <circle cx="50" cy="50" fill="none" ng-attr-r="{{config.r2}}" ng-attr-stroke="{{config.c2}}" ng-attr-stroke-width="{{config.width}}" r="40" stroke="#376888" stroke-width="5">
        <animate attributeName="stroke-dasharray" calcMode="linear" values="0 0 0 125.66370614359172 0 125.66370614359172;0 0 125.66370614359172 0 0 125.66370614359172;0 0 125.66370614359172 0 0 125.66370614359172;0 125.66370614359172 0 125.66370614359172 0 125.66370614359172;0 125.66370614359172 0 125.66370614359172 0 125.66370614359172" keyTimes="0;0.2;0.4;0.6;1" dur="2.8" begin="-1.456s" repeatCount="indefinite"/>
      </circle>
      <circle cx="50" cy="50" fill="none" ng-attr-r="{{config.r1}}" ng-attr-stroke="{{config.c1}}" ng-attr-stroke-width="{{config.width}}" r="34" stroke="#826b88" stroke-width="5">
        <animate attributeName="stroke-dasharray" calcMode="linear" values="0 0 0 106.81415022205297 0 106.81415022205297;0 0 106.81415022205297 0 0 106.81415022205297;0 0 106.81415022205297 0 0 106.81415022205297;0 106.81415022205297 0 106.81415022205297 0 106.81415022205297;0 106.81415022205297 0 106.81415022205297 0 106.81415022205297" keyTimes="0;0.2;0.4;0.6;1" dur="2.8" begin="-1.7919999999999998s" repeatCount="indefinite"/>
      </circle>
    </g>
  </svg>

    </div>
</div>